body{
  font-family: Montserrat, sans-serif;
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1076px;
  padding: 0 15px;
  height: 100%;
}
.button{
  display: inline-block;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  border: 1px solid;
  &--primary{
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;
    transition: all .3s ease;
    &:hover{
      color: $primary-color;
      background-color: transparent;
    }
  }
  &--rounded{
    border-radius: 37px;
  }
  &--secondary{
    background-color: transparent;
    border-color: $secondary-color;
    color: $secondary-color;
    transition: all .3s ease;
    &:hover{
      color: $white;
      background-color: $secondary-color;
    }
  }
}
.title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: $text-color;
  max-width: 480px;
  margin: 0 auto 10px;
}
.descr{
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $second-text-color;
  max-width: 510px;
}