/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */
@import 'base/global';

/* Sections */

@import 'sections/header';
@import 'sections/advantages';
@import 'sections/advice';
@import 'sections/about';

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo Page styles */
/* @import 'demo'; */

/* Main Page styles */
@import 'main';